{% extends 'KitMakerBundle::base.html.twig' %}

{% block body %}
<header>
    <h1>Email Contact</h1>
</header>

<td>
	<ul>
		<li><a href="{{ path("kit_maker_homepage") }}" value="volver">Carga el form de nuevo</a></li>
		
	</ul>
</td>
<caption>{{ msg }}</caption>

{% endblock %}
{% block sidebar %}

{% endblock %}